{% if results | length > 0 %}
    <ul id="search-results">
        {% for result in results %}
            <li data-slug="{{ result.slug }}">
                {{ result.title }}
                <i class="fa fa-chevron-right"></i>
            </li>
        {% endfor %}
    </ul>
{% endif %}
